body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.yogurtAttr { 
  background-color: aquamarine; 
  border: outset;
  font-size: small;
  width: 120px; 
} 

.values {
  border: outset;
  width: 170px;
  border-color: rgb(255, 127, 195);
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: small;

}
